<?xml version="1.0" ?>
<model>
    <name>Simple_world</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>
    <author>
         <name>Igor Rodriguez</name>
        <email>igor.rodriguez@ikasle.ehu.eus</email>
    </author>
    <description>Simple World based on PlayerStage simple world.</description>
</model>
