<?xml version="1.0" ?>
<model>
    <name>Square</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>
    <author>
         <name>Igor Rodriguez</name>
        <email>igor.rodriguez@ehu.eus</email>
    </author>
    <description>Square World based on PlayerStage square world.</description>
</model>
